@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Edu+TAS+Beginner&family=Josefin+Sans:ital@1&family=Lato:ital,wght@0,300;0,400;1,400&family=Lora:ital@1&family=Montserrat&family=Pacifico&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Edu+TAS+Beginner&family=Josefin+Sans:ital@1&family=Lato:ital,wght@0,300;0,400;1,400&family=Lora:ital@1&family=Montserrat&family=Pacifico&family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
}
.font-1{
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;  
}
.font-2{
    font-family: 'Edu TAS Beginner', cursive;
}
.img{
    background-image: url(../images/bg_1.webp);
    background-size: cover;
}
.bg-colo{
    background-color: rgba(0, 0, 0, 0.648);
    
}
.lin{
    margin:7px 14px 0 14px;
}
.fs{
    font-size: 30px;
    font-weight: bold ;
    
}
.fs-1{
    font-size: 24px;
}
.fs-2{
    font-size: 70px;
    line-height: 100%;
}
.fs-3{
    font-size: 30px;
}
.fs-4{
    font-size: 35px;
}
.fs-5{
    height: 70vh;
}
.text-clr{
    color: #5c5656;
}
.fs-6{
    font-size: 24px;
}
.fs-7{
    font-size: 14px;
}
.cd-img{
    height: 250px;
}
.img-2{
    background-image: url(../images/bg_2.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.pad-1{
    padding-top: 100px;
}
.pad-1 h1{
    padding-top: 10px;
    padding-bottom: 100px;
}
.pad{
    padding-top: 40px;
    padding-bottom: 20px;
    
}
.fs-7{
    font-size: 22px;
    padding-bottom: 80px;
}
.rounded-circle{
    font-size: 30px;
}
.hei{
    /* height: 100vh; */
}